<!doctype html>
<html>
<head>
  <title>Team Adorable Dragon Rulez </title>
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="/">Libcat</a>
      </li>
      <li>
        <a href="/about">The Team</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>